<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LUNARPUNK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TEN1.styles.css" asp-append-version="true" />
</head>
<body>
    <header class= "header">
        <nav class="">
            <div class="">
                <a class="navbar-brand" asp-area="" asp-page="/Index">LUNARPUNK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="">
                    <button class="button.nav-button">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </button>
                    <button class="button.nav-button">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Portfolio">Portfolio</a>
                    </button>
                    <button class="button.nav-button">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Blog">Blog</a>
                    </button>
                    <button class="button.nav-button">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Community">Community</a>
                    </button>
                    <button class="button.nav-button" >
                        Wallet
                        <span class="navbar-toggler-icon"></span
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class= "footer">
        <div class="container">
            &copy; 2023 Copyright- LUNARPUNK PBC. <a asp-area="" asp-page="/Privacy">Privacy</a><br>
            Mail<span>&#9993;</span>:<a href="info@lunar.punk">info@lunar.punk</a><br>
            Projects🔥<a href="">•Public Goods</a><br>
            Company☮<a href="">•Organization</a><br>
            Coders✚<a href="">•Developers</a><br>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>