/bin/Debug/net7.0/appsettings.Development.json
/bin/Debug/net7.0/appsettings.json
/bin/Debug/net7.0/TEN1.deps.json
/bin/Debug/net7.0/TEN1.exe
/bin/Debug/net7.0/TEN1.runtimeconfig.json
/bin/Debug/net7.0/TEN1.staticwebassets.runtime.json
/obj/Debug/net7.0/scopercss
/obj/Debug/net7.0/staticwebassets
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/staticwebassets.pack.json
/obj/Debug/net7.0/TEN1.AssemblyInfo.cs
/obj/Debug/net7.0/TEN1.AssemblyInfoInputs.cache
/obj/Debug/net7.0/TEN1.assets.cache
/obj/Debug/net7.0/TEN1.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/TEN1.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/TEN1.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/TEN1.genruntimeconfig.cache
/obj/Debug/net7.0/TEN1.GlobalUsings.g.cs
/obj/Debug/net7.0/TEN1.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net7.0/TEN1.RazorAssemblyInfo.cache
/obj/Debug/net7.0/TEN1.RazorAssemblyInfo.cs
/obj/project.assets.json
/obj/project.nuget.cache
/obj/TEN1.csproj.nuget.dgspec.json
/obj/TEN1.csproj.nuget.g.props
/obj/TEN1.csproj.nuget.g.targets
/Pages/Shared/Shared/_Layout.cshtml
/Pages/Shared/_Layout.cshtml.css
/Pages/Shared/_ValidationScriptsPartial.cshtml
/Pages/_ViewImports.cshtml
/Pages/_ViewStart.cshtml
/Pages/Blog.cshtml
/Pages/Blog.cshtml.cs
/Pages/Community.cshtml
/Pages/Community.cshtml.cs
/Pages/Error.cshtml
/Pages/Error.cshtml.cs
/Pages/Index.cshtml.cs
/Pages/Portfolio.cshtml
/Pages/Portfolio.cshtml.cs
/Pages/Privacy.cshtml
/Pages/Privacy.cshtml.cs
/Properties
/wwwroot/js
/wwwroot/lib
/favicon.ico
/appsettings.Development.json
/appsettings.json
/Program.cs
/TEN1.csproj