/bin
/obj
/Pages/Shared/_ValidationScriptsPartial.cshtml
/Pages/_ViewImports.cshtml
/Pages/_ViewStart.cshtml
/Pages/Blog.cshtml
/Pages/Blog.cshtml.cs
/Pages/Community.cshtml
/Pages/Community.cshtml.cs
/Pages/Error.cshtml
/Pages/Error.cshtml.cs
/Pages/Index.cshtml.cs
/Pages/Portfolio.cshtml
/Pages/Portfolio.cshtml.cs
/Pages/Privacy.cshtml
/Pages/Privacy.cshtml.cs
/Properties
/wwwroot/js
/wwwroot/lib
/appsettings.Development.json
/appsettings.json
/Program.cs
/README.MD
/TEN1.csproj