/bin/
/obj/
/Pages/Shared/_Layout.cshtml
/Pages/Shared/_Layout.cshtml.cs
/Pages/Shared/_ValidationScriptsPartial.cshtml
/Pages/_ViewImports.cshtml
/Pages/_ViewStart.cshtml
/Pages/Blog.cshtml.cs
/Pages/Community.cshtml
/Pages/Community.cshtml.cs
/Pages/Error.cshtml
/Pages/Error.cshtml.cs
/Pages/Index.cshtm
/Pages/Index.cshtml.cs
/Pages/Portfolio.cshtml
/Pages/Portfolio.cshtml.cs
/Pages/Privacy.cshtml
/Pages/Privacy.cshtml.cs
/Properties
/wwwroot/js
/wwwroot/lib
/appsettings.Development.json
/appsettings.json
/Program.cs
/TEN1.csproj