html {
  font-size: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #000000;
  color: #aa4f9b;
}

header button {
  background: transparent;
  border: none;
  color: #aa4f9b; 
  display: block; 
  margin-bottom: 20px;
  font-size: 18px;
}

button.nav-button {
  background: transparent;
  align-self: center;
  border: none;
  color: #aa4f9b; 
  display: block; 
  margin-bottom: 10px; 
}

.left-section {
  margin-left: 200px; 
}

body {
  margin-bottom: 220px;
  background-color: #000000;
  color: #fff;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.blog-post {
  border: 7px solid #aa4f9b;
  padding: 20px;
  text-align: center;
  background-color: #000000;
  transition: transform 0.2s;
}

.blog-post:hover {
  transform: scale(1.05);
}

.blog-post a {
  text-decoration: none;
  color: #fff;
}

.blog-post img {
  max-width: 100%;
  height: auto;
}
