@page
@model BlogModel
@{
    ViewData["Title"] = "文章";
    ViewData["Title2"] = "Writings";
}
<h1>@ViewData["Title"]||@ViewData["Title2"]</h1>
<hr>

<div class="blog-grid"> 
    <div class="blog-post">
            <a href="https://medium.com/1kxnetwork/digiphysical-goods-bringing-programmable-utility-to-physical-products-568178bb3f56">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*HN8-67xsXetspRR4-yHoQg.png" alt=" ">
                <h2>Digiphysical Goods: Bringing Programmable Utility to Physical Products</h2>
                <p>We see a big potential for onchain interactions to be brought to physical environments through digiphysical consumer goods, 
                    and believe that digiphysical infrastructure will soon bring programmable utility to any physical product.</p>
            </a>
    </div> 
    <div class="blog-post">
            <a href="https://medium.com/1kxnetwork/towards-digital-self-sovereignty-the-web3-identity-stack-874d5e015bae">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*7wtaI6pnRAcdibRgmz212Q.png" alt=" ">
                <h2>Towards Digital Self-Sovereignty: The Web3 Identity Stack</h2>
                <p>Creating an identity layer for the internet is a hard problem because there is a lack of 
                    agreement on what it should be and how it should be run. Digital identity is related to context</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/1kxnetwork/zkml-evolving-the-intelligence-of-smart-contracts-through-zero-knowledge-cryptography-e6725412bbd1">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*ak-VTBm4MN3QTkRyu-NmoA.png" alt=" ">
                <h2>zkML: Evolving the Intelligence of Smart Contracts Through Zero-Knowledge Cryptography</h2>
                <p>Proving machine learning (ML) model inference via zkSNARKs is poised to be one of the most significant advancements in smart contracts this decade.</p>
            </a>
    </div> 
    <div class="blog-post">
            <a href="https://medium.com/JeremyRayJewell/the-illusion-of-decentralization-a-2023-year-end-look-at-web-3-0-6f6eb59f794b">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*I3JTz_CmTBwTY-OQqUvPdQ.png" alt=" ">
                <h2>The Illusion of Decentralization: A 2023 Year-end Look at Web 3.0</h2>
                <p>Web 3.0/Web3, the so-called “decentralized web,” presents itself as a revolutionary evolution of the internet,
                     a departure from its Web 2.0 predecessor, with its centralized control, surveillance, and data exploitation.</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/Morphism_xyz/decentralized-society-desoc-the-future-of-governance-and-the-role-of-morphism-1e12ea28d144">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*IHMbe0TNA9K1L_5ALS2big.jpeg" alt=" ">
                <h2>Decentralized Society (DeSoc): The Future of Governance and the Role of Morphism</h2>
                <p>In a world increasingly moving towards digitization, the essence of decentralization becomes paramount. 
                    It promises a system where power is distributed, reducing single points of control and potential failures</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/sales_wallet/insure-defi-sure-a-community-based-defi-insurance-ecosystem-0fa9d67d6cd5">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*kcvvZVk1fmkHvCz0MTTO_w.png" alt=" ">
                <h2>inSure DeFi (SURE): A Community-Based DeFi Insurance Ecosystem</h2>
                <p>inSure Defi is a decentralized insurance platform that aims to protect crypto and DeFi portfolios from scams, exchange closures, and drastic devaluations</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/dyxa/decoding-leo-a-comparison-with-solidity-in-the-blockchain-development-space-172b849f5ba0">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*pEyEERMoHtZjcw3ELRPsUQ.jpeg" alt=" ">
                <h2>Decoding Leo: A Comparison with Solidity in the Blockchain Development Space</h2>
                <p>Blockchain technology continues to evolve, and with it, the languages used to write smart contracts are also advancing.
                     Among the most notable are Solidity, the long-standing frontrunner for Ethereum smart contracts, and Leo, a newer entrant from the Aleo platform</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/13ajw12/betting-on-the-wisdom-of-the-crowd-the-rise-of-decentralized-prediction-markets-3ebb11196de6">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*_yB-SBzSmTNSNewJT6p7Lw.png" alt=" ">
                <h2>What are Decentralized Prediction Markets?</h2>
                <p>Decentralized Prediction Markets (DPMs) are the crystal ball of the digital age, disrupting the way we predict and bet on future events. 
                    Fueled by blockchain technology, DPMs liberate predictions from intermediaries, offering a fair, secure, and transparent arena where users predict outcomes and reap rewards.</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/exohood/the-ethical-framework-for-exania-shaping-a-decentralized-collaborative-ai-for-a-better-tomorrow-5d3e688081ae">
                <img src="https://miro.medium.com/v2/resize:fit:640/format:webp/1*OH9UsSrkeXHonv6JzRgV6w.png" alt=" ">
                <h2>The Ethical Framework for Exania, shaping a Decentralized, Collaborative AI for a Better Tomorrow</h2>
                <p>In an age where technology’s pace often outstrips ethical consideration, the advent of Exania a decentralized artificial intelligence presents an opportunity to set a new standard.</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/VaraNetwork/zero-knowledge-proofs-and-machine-learning-a-powerful-alliance-in-the-vara-ecosystem-3d84e39d2104">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*ZHVk95LTSOnilLmLhkOu8Q.jpeg" alt=" ">
                <h2>Zero-Knowledge Proofs and Machine Learning: A Powerful Alliance in the Vara Ecosystem</h2>
                <p>Zero-knowledge proofs (ZK) and Machine Learning (ML) may seem unrelated, but they have significant connections. 
                    ZK, a cryptographic method, can address issues in blockchain technology, such as scalability and privacy</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/blockchain-web3-insights/finding-zksync-developer-sourcing-talent-for-the-future-ce0e780b8cdd">
                <img src="https://miro.medium.com/v2/resize:fit:4800/0*vDxNv5sd5OfysSf5" alt=" ">
                <h2>Finding zkSync developer: Sourcing Talent for the Future.</h2>
                <p>For projects looking to harness this innovative layer 2 solution, the key to success often lies in finding skilled developers who specialize in zkSync.</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/mamori-finance/kintos-native-sybil-resistance-cad334ccafd3">
                <img src="https://miro.medium.com/v2/resize:fit:1100/format:webp/1*efz-LtrN4b4-B2MsDniIgQ.jpeg" alt=" ">
                <h2>Kinto’s Native Sybil Resistance</h2>
                <p>Kinto is an L2 rollup designed to accelerate the transition to an on-chain financial system. 
                    It features permissionless KYC/AML and native account abstraction to solve the two biggest blockers to mainstream adoption: compliance and user experience.</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/mananshah3654/unlocking-the-future-blockchains-revolution-in-software-development-b3f61bd925fd">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*yNR7NX_M-zXzofgw0I2eFg.jpeg" alt=" ">
                <h2>Blockchain’s Revolution in Software Development</h2>
                <p>Blockchain, the innovative technology behind cryptocurrencies like Bitcoin, has taken the tech world by storm. But its applications go far beyond digital currencies</p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/mananshah3654/the-next-frontier-ai-driven-software-development-7d9bd38da3d6">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*8lFkwmeoFR7qqPel5PUeDA.jpeg" alt=" ">
                <h2>The Next Frontier: AI-Driven Software Development</h2>
                <p>In the age of digital innovation, software development is experiencing a revolution driven by Artificial Intelligence. 
                    Developers and tech enthusiasts alike are witnessing a profound shift in the industry, with AI leading the way in creating efficient, intelligent, and futuristic software solutions. </p>
            </a>
    </div>
    <div class="blog-post">
            <a href="https://medium.com/polkadot-philosophy/reimagining-governance-from-milton-keynes-to-daos-a52c58ebce5b">
                <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/1*8wNubcrGSLNRBv02gGNouA.png" alt=" ">
                <h2>Reimagining Governance — From Milton Keynes to DAOs</h2>
                <p>In a world teetering on the brink of technological revolution, the very fabric of governance trembles at the prospect of change. 
                    How do we navigate the labyrinthine complexities of political representation, ensuring every voice is not just heard but also carefully counted?</p>
            </a>
    </div>
</div>