@page
@model BlogModel
@{
    ViewData["Title"] = "仙女資本";
    ViewData["Title2"] = "Who are...Lunarpunk?";
}
<h1>@ViewData["Title"]||@ViewData["Title2"]</h1>
<hr>
<div>
<h4>Programmers/软件程序员</h4>
<div>
  <p class="lead">
    Lunarpunks are preparing for war and building privacy-enhanced tooling to protect their communities.
    They have always preferred encryption over the plaintext paradigm.
  </p>
  <p class="lead">
    Lunarpunks integrate optionality because they thrive in the worst-case scenario.
    If the Lunarpunk thesis is wrong, the supercycle continues.
    If it's right, crypto enters its next phase armed with the appropriate defenses.
    Being well-defended means going dark, using cryptography to protect the identity and activity of users.
    This is the cornerstone of Lunarpunk convexity.
  </p>
  <p class="lead">
    Lunarpunks offer user protection.
    Participants in dark networks have plausible deniability.
    Changes in regulation do not affect them.
    The only reason why a regulatory crackdown would cause users to leave a network is if they do so voluntarily.
  </p>
  <p class="lead">
    Lunarpunks believe that through anonymity, escalating conflict simply empowers crypto.
    An empowerment which is exponential with the aggressor's decline.
  </p>
  <div>
      <table border="0">
        <tr>
            <td>
                <img src="" alt="Image 1" width="400" height="400">
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                <img src="image2.jpg" alt="Image 2" width="400" height="400">
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                <img src="image3.jpg" alt="Image 3" width="400" height="400">
            </td>
            <td>
                
            </td>
        </tr>
    </table>
  </div>
</div>
<hr>
<div>
  <h2>Interns/实习生</h2>
  <p class="lead">
    Interns working for Lunarpunk operate in the shadows, silently preparing for a looming conflict.
  </p>
  <p class="lead">
    Interns construct covert, privacy-enhanced tools to shield their communities from a certain oppressive future.
    In this world, encryption is the weapon of choice, forever shunning the vulnerability of plaintext.
  </p>
  <p class="lead">
    Interns master the art of optionality, embracing a future they know may never come.
    In their eyes, the supercycle doesn't continue, and the world descends into chaos.
    Whichever path unfolds, they stand ready with cryptographic defenses, prepared to plunge into the darkness.
  </p>
  <div>
      <table border="0">
        <tr>
            <td>
                <img src="image1.src" alt="Image 1" width="400" height="400">
            </td>
            <td>
                <p>
                highly skilled coder
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="image2.jpg" alt="Image 2" width="400" height="400">
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
      </table>
  </div>
</div>
<hr>
<div>
  <h2>Legal Advisors/法律顾问</h2>
  <p class="lead">
    Legal advisors for Lunarpunk operate discreetly, navigating the treacherous waters of a world in chaos.
    The line between legality and rebellion blurs, and these advisors become the masters of legal subversion.
  </p>
  <p class="lead">
    Legal advisors embrace the darkness.
    The legal landscape is merely a canvas for their shadowy maneuvers.
    They exploit legal gray areas and seek refuge in obscurity.
    Regulations, rather than acting as barriers, become mere challenges for them to circumvent.
  </p>
  <p class="lead">
    The rule of law is rewritten with every clandestine move.
    They craft a legal architecture that thrives under the radar, where plausible deniability shields those they represent.
  </p>
  <div>
      <table border="0">
          <tr>
            <td>
                <img src="image1.src" alt="Image 1" width="400" height="400">
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                <img src="image2.jpg" alt="Image 2" width="400" height="400">
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
      </table>
  </div>
</div>
<hr>
<div>
  <h2>Streamers/主播</h2>
  <p class="lead">
    Streamers operate as voices in the dark, broadcasting cryptic messages to an underground audience.
    Their streams are cloaked in secrecy, designed to deliver their message while evading the prying eyes of authority.
    They've embraced the art of transmitting information through obscured channels.
  </p>
  <p class="lead">
    Their streams, a testament to the power of anonymity.
    As conflicts escalate, their influence grows, and their voice resonates even more powerfully as the world crumbles.
    These streamers are the conduits of a clandestine revolution, where the darkest secrets are shared through cryptic transmissions.
  </p>
  <div>
      <table border="0">
        <tr>
            <td>
                <img src="" alt="Image 1" width="400" height="400">
            </td>
            <td>
                
            </td>
        </tr>
      </table>
  </div>
</div>
