@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
    ViewData["Title2"] = "Home";
}
<h1>@ViewData["Title"]||@ViewData["Title2"]</h1>
<hr>
<div class="text-center">
    <h3 class="display-4">"...加密货币与现有权力结构之间的冲突基本上是预设的。监管将加密货币推向地下。匿名性蔓延。在星际黑暗中，新近激进化的加密派别创造了一种新型的民主社会。"</h3>
    <hr>
    <div class="container3">
        <div class="left-column2">
            <div>
                <h3>A Design and Development Agency</h3>
            </div>
            <div>
                <p>Lunar.Punk — At your service every step of the way. </p>
                <p>LP is laser focused on privacy technology design, development with focus on web3 and digital art stewardship.</p>
            </div>
        </div>
        <div class="vertical-line2"></div>
        <div class="right-column2">
            <img src="https://assets-global.website-files.com/63f3ac68c1fab5d6e82efe0d/63fe373b102d162e4df3ac98_Frame%206.png" alt="Le Random" class="resized-image">
        </div>
    </div>
    <hr>
    <div class="grid-container"> 
        <div class="grid-item">
            <img src="https://assets-global.website-files.com/63f3ac68c1fab5d6e82efe0d/63fb738c1ed05136c9d4dcbd_client-template-lr-p-800.png" alt="Le Random">
            <div class="grid-item button"><button>Le Random</button></div>
        </div>
        <div class="grid-item">
            <img src="https://assets-global.website-files.com/63f3ac68c1fab5d6e82efe0d/63fb72200e70bd68205848f6_client-template-rcs-p-800.png" alt="Right Click Save">
            <div class="grid-item button"><button>Right Click Save</button></div>
        </div>
        <div class="grid-item">
            <img src="https://assets-global.website-files.com/63f3ac68c1fab5d6e82efe0d/63fb75766b8a4bc994a25ab1_client-template-cnft-p-800.png" alt="NFTClub">
            <div class="grid-item button"><button>NFTClub</button></div>
        </div>
        <div class="grid-item">
            <img src="https://assets-global.website-files.com/63f3ac68c1fab5d6e82efe0d/63fb7787ecb8014daa21a1c8_client-template-dank-p-800.png" alt="Dankness">
            <div class="grid-item button"><button>Dankness</button></div>
        </div>
        <div class="vertical-line2"></div>
    </div>
    <hr>
    <div class="container2">
        <div class="left-column">
            <div>
                <h2>Contact Us*</h2>
            </div>
            <div>   
                <p>We’re living in a new reality.</p>
                <p>And code for privacy is the only way forward. It's time to upgrade - email us and let's get started.</p>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="right-column">
            <form>
                <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="company">Company*</label>
                    <input type="text" id="company" name="company">
                </div>
                <div class="form-group">
                    <label for="message">How can we help*</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                </div>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
    <hr>
    <div>
        <p class="lead">UTC Time: @DateTime.UtcNow</p>
    </div>
</div>
