@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
    ViewData["Title2"] = "Home";
}
<h1>@ViewData["Title"]||@ViewData["Title2"]</h1>
<hr>
<div class="text-center">
    <h3 class="display-4">"...加密货币与现有权力结构之间的冲突基本上是预设的。监管将加密货币推向地下。匿名性蔓延。在星际黑暗中，新近激进化的加密派别创造了一种新型的民主社会。"</h3>
    <p class="lead">Learn about LunarPunk</p>
    <p class="lead">The time on the server is @DateTime.UtcNow</p>
</div>
