@page
@model BlogModel
@{
    ViewData["Title"] = "项目";
    ViewData["Title2"] = "Portfolio";
}
<h1>@ViewData["Title"]||@ViewData["Title2"]</h1>
<hr>
<div class="container">
  <p class="lead"><h4>Projects we've helped build on and truly believe in...</h4></p>
  <hr>
  <div>
    <table border="0">
        <tr>
            <td>
                <img src="https://cryptologos.cc/logos/the-graph-grt-logo.png?v=026" alt="thegraph.com" width="120" height="120">
            </td>
            <td>
              <h3>The Graph</h3> - What makes The Graph so resilient? Enter The Graph Network, a decentralized data market powered by distributed participants: Indexers, Curators, Delegators, and Subgraph Developers. 
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://cryptologos.cc/logos/monero-xmr-logo.png?v=026" alt="getmonero.org" width="120" height="120">
            </td>
            <td>
              <h3>Monero</h3> - Private, decentralized cryptocurrency that keeps your finances confidential and secure. 
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://cryptologos.cc/logos/astar-astr-logo.png?v=026" alt="astar.network" width="120" height="120">
            </td>
            <td>
              <h3>Astar</h3> - Astar unlocks blockchain, enabling unparalleled cross-layer scaling & driving web3’s mass adoption.   
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://cryptologos.cc/logos/torn-torn-logo.png?v=026" alt="tornadoeth.cash" width="120" height="120">
            </td>
            <td>
               <h3>Tornado</h3> -Tornado Cash (Tornado) is a virtual currency mixer that operates on EVM blockchains and indiscriminately facilitates anonymous transactions by obfuscating their origin, destination, and counterparties, with no attempt to determine their origin. 
                                 Tornado receives a variety of transactions and mixes them together before transmitting them to their individual recipients. 
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://cryptologos.cc/logos/augur-rep-logo.png?v=026" alt="augur.net" width="120" height="120">
            </td>
            <td>
               <h3>Augur</h3> - Augur is a peer-to-peer, decentralized exchange, enabling universal and transparent access to its markets. "Augur is an open, global prediction market protocol that allows anyone to create a market for anything. 
                                There is no single entity that controls the protocol; it's community owned and operated."
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://cryptologos.cc/logos/filecoin-fil-logo.png?v=026" alt="filecoin.io" width="120" height="120">
            </td>
            <td>
               <h3>Filecoin</h3> - Filecoin is an open-source, public cryptocurrency and digital payment system intended to be a blockchain-based cooperative digital storage and data retrieval method. 
                              It is made by Protocol Labs and shares some ideas from InterPlanetary File System allowing users to rent unused hard drive space
            </td>
        </tr>
    </table>
  </div>
</div>

