/* _content/TEN1/Pages/Shared/_Layout.cshtml.rz.scp.css */


a.navbar-brand[b-ea1ek45khy] {
  white-space: normal;
  text-align: center;
  color: #aa4f9b;
  word-break: break-all;
}

a[b-ea1ek45khy] {
  color: #0077cc;
}

.btn-primary[b-ea1ek45khy] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ea1ek45khy], .nav-pills .show > .nav-link[b-ea1ek45khy] {
  color: #fff;
  background-color: #aa4f9b;
  border-color: #1861ac;
}

.border-top[b-ea1ek45khy] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ea1ek45khy] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ea1ek45khy] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ea1ek45khy] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ea1ek45khy] {
  position: absolute;
  font-size: 12px;
  color: #e5e5e5;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
}

.footer a[b-ea1ek45khy] {
  margin: 0 15px; 
  text-decoration: none; 
  color: #fff; 
}

.signup[b-ea1ek45khy] {
  background-color: #333; 
  color: #fff; 
  padding: 10px;
  text-align: center;
}

.signup form[b-ea1ek45khy] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.signup label[b-ea1ek45khy],
.signup input[b-ea1ek45khy],
.signup button[b-ea1ek45khy] {
  margin: 5px;
}

header button[b-ea1ek45khy] {
  background: transparent;
  border: none;
  align-self: center;
  color: #aa4f9b; 
  display: block; 
  margin-bottom: 10px;
}

#mainHeader[b-ea1ek45khy] {
  display: none;
}

#menuButton[b-ea1ek45khy] {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
